@model  gtsiparis_45.Models.SiparisMenuView
@{
    ViewBag.Title = "SagMenu";
    Layout = "~/Views/Shared/_SiparisKategorileri.cshtml";
}


<table class="table">
    <tr>
        <th>
            Ürün Adı
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.UrunItems)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Adi)
            </td>
        </tr>
    }

</table>

